#info {
  width: 200px;
  padding: 5px 5px 5px 5px;
  margin: 0 0 0 0;
  text-align: left;
  background-color: rgba(0,0,0,0.5); 
  position: fixed;
  left: 20px;
  top: 20px;
  display: none;
  z-index: 999;
}

h3 {
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

svg {
  border: 3px solid black;
  background-color: #ffff33;
}

.Q0 { fill:rgb(247,251,255); }
.Q1 { fill:rgb(222,235,247); }
.Q2 { fill:rgb(198,219,239); }
.Q3 { fill:rgb(158,202,225); }
.Q4 { fill:rgb(107,174,214); }

.subunit { 
  stroke: #ffff33; 
  fill: black;
}

/*
.subunit.Afghanistan { 
  fill: darkred;
  stroke: darkred;
}
*/

body {
  color: #ffff33;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

.footer {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 1.5px;
  padding-top: 5px;
  //border-top: 3px dashed #ffff33;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  left: 30px;
  z-index: 1;
}


